.section-planned {
  padding: 5rem;
  text-align: center;
  background-image: url("../img/background3.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.planned-item {
  background-color: white;
  padding: 2.7rem;
  border-radius: 0.5rem;
  max-width: 70ch;
  margin: 0 auto;
}
