.section-teaser {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
}
.teaser-pic {
  max-width: 50%;
  flex-grow: 1;
  overflow: hidden;
}
.teaser-pic img {
  width: 100%;
}
.teaser-content {
  background-color: $background-color-skin;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.content-wrapper {
  padding: 0 2rem;
  margin: 0 auto;
}
