* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Lora", serif;
  background-color: #fff;
  color: $text-color-black;
}
a {
  color: $text-color-black;
}
