h1 {
  font-size: clamp(1rem, 3vw + 1rem, 3rem);
}
h2 {
  font-size: clamp(1rem, 2vw + 1rem, 2.7rem);
}

.heading {
  position: relative;
  font-weight: bold;
  letter-spacing: -0.06em;
}
.heading::after {
  position: absolute;
  content: "";
  background-color: $text-color-pink;
  bottom: -13px;
  left: calc(50% - 30px);
  width: 60px;
  height: 1px;
}
.heading-left::after {
  left: 0;
}
.text {
  margin: 2rem;
  font-size: clamp(0.8rem, 1.6vw, 1.8rem);
  line-height: 1.5;
  letter-spacing: -0.06em;
  color: $text-color-black;
}
.text-grey {
  color: $text-color-grey;
}
.text-pink {
  color: $text-color-pink;
}

.text-big {
  font-size: 2rem;
  margin: 0 0 2rem;
}

// clamp(1rem, 3vw + 1rem, 4rem)
