h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.7rem;
}

.heading {
  position: relative;
  font-weight: bold;
  letter-spacing: -0.06em;
}
.heading::after {
  position: absolute;
  content: "";
  background-color: $text-color-pink;
  bottom: -13px;
  left: calc(50% - 30px);
  width: 60px;
  height: 1px;
}
.heading-left::after {
  left: 0;
}
.text {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: -0.06em;
  color: $text-color-black;
}
.text-grey {
  color: $text-color-grey;
}
.text-pink {
  color: $text-color-pink;
}
